plotly
dash
dash-daq
gunicorn
numpy
pandas
requests


                            dcc.Dropdown(
                                id="match-list",
                                placeholder="Select a match",
                                options=[{'label': f'{match}', 'value': f'{match}'} for match in
                                         list(match_list['gameId'].head(10))],
                            )


def generate_metric_list_header():
    return generate_metric_row(
        "metric_header",
        {"height": "3rem", "margin": "1rem 0", "textAlign": "center"},
        {"id": "m_header_1", "children": html.Div("Player")},
        {"id": "m_header_2", "children": html.Div("Champion")},
        {"id": "m_header_3", "children": html.Div("Level")},
        {"id": "m_header_4", "children": html.Div("Cs")},
        {"id": "m_header_5", "children": html.Div("Gold")},
        {"id": "m_header_6", "children": "Pass/Fail"},
    )


def generate_metric_row(id, style, col1, col2, col3, col4, col5, col6):
    if style is None:
        style = {"height": "8rem", "width": "100%"}

    return html.Div(
        id=id,
        className="row metric-row",
        style=style,
        children=[
            html.Div(
                id=col1["id"],
                className="one column",
                style={"margin-right": "2.5rem", "minWidth": "50px"},
                children=col1["children"],
            ),
            html.Div(
                id=col2["id"],
                style={"textAlign": "center"},
                className="one column",
                children=col2["children"],
            ),
            html.Div(
                id=col3["id"],
                style={"textAlign": "center"},
                className="one column",
                children=col3["children"],
            ),
            html.Div(
                id=col4["id"],
                style={"height": "100%"},
                className="three columns",
                children=col4["children"],
            ),
            html.Div(
                id=col5["id"],
                style={"display": "flex", "justifyContent": "center"},
                className="one column",
                children=col5["children"],
            ),
            html.Div(
                id=col6["id"],
                style={"height": "100%"},
                className="four columns",
                children=col6["children"],
            ),
        ],
    )

                   html.P("Score",
                          style={"text-align": "center"}),
                   html.Div(
                       id="Score",
                       style={"display": "inline-block",
                              "text-align": "center"},
                       children=[
                           daq.LEDDisplay(
                               id='red-team',
                               label="Red Team",
                               value=6,
                               size=50,
                               style={"display": "inline-block",
                                      "paper_bgcolor": "rgba(0,0,0,0)",
                                      "plot_bgcolor": "rgba(0,0,0,0)",
                                      "margin-right": "20px"},
                               color="#E74C3C",
                               backgroundColor="rgba(0,0,0,0)"
                           ),
                           daq.LEDDisplay(
                               id='blue-team',
                               label="Blue Team",
                               value=6,
                               size=50,
                               style={"display": "inline-block",
                                      "margin-bottom": "20px"},
                               color="#2E86C1",
                               backgroundColor="rgba(0,0,0,0)"
                           )
                       ]
                   ),
                    html.P("Towers"),
                    html.Div(
                        id="towers",
                        style={"display": "inline-block",
                               "text-align": "center"},
                        children=[
                            daq.LEDDisplay(
                                id='red-team-towers',
                                label="Red Team",
                                value=6,
                                size=20,
                                style={"display": "inline-block",
                                       "paper_bgcolor": "rgba(0,0,0,0)",
                                       "plot_bgcolor": "rgba(0,0,0,0)",
                                       "margin-right": "20px"},
                                color="white",
                                backgroundColor="rgba(0,0,0,0)"
                            ),
                            daq.LEDDisplay(
                                id='blue-team-towers',
                                label="Blue Team",
                                value=6,
                                size=20,
                                style={"display": "inline-block"},
                                color="white",
                                backgroundColor="rgba(0,0,0,0)"
                            )
                        ]
                    ),